asgiref==3.5.0
dj-database-url==0.5.0
Django==4.0.4
django-crispy-forms==1.14.0
django-environ==0.8.1
django-extensions==3.1.5
django-heroku==0.3.1
django-recaptcha==3.0.0
environ==1.0
geographiclib==1.52
geopy==2.2.0
gunicorn==20.1.0
Pillow==9.1.0
psycopg2==2.9.3
pydotplus==2.0.2
pyparsing==3.0.8
sqlparse==0.4.2
tzdata==2022.1
whitenoise==6.0.0
