{% extends "layout/base.html" %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-between align-items-center my-2 shadow p-4">
        <div>
            <h3>Ordens de Serviço</h3>
        </div>
        <div>
            <a class="btn btn-sm btn-success" href="{% url "service:service-order-create" %}">Adicionar <i
                    class="fa fa-plus-circle"></i></a>
        </div>
    </div>
    <div class="row">
        {% for service_order in object_list %}
            <div class="col-md-4">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"><i class="fa fa-cogs" style="font-size: 32px;"></i>&nbsp;</div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">{{ service_order.sponsor_employee.name }}</h6>
                                <span>{{ service_order.entrance_date }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">{{ service_order.service.description }}</h3>
                        <div>Cliente: {{ service_order.client.name }}</div>
                        <div class="mt-5">
                            <span>Andamento</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="50"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-sm btn-primary"><i class="fa fa-search"></i> Detalhes
                                </button>
                                <a class="btn btn-sm btn-warning"
                                   href="{% url "service:service-order-edit" service_order.pk %}"><i
                                        class="fa fa-pen"></i> Editar</a>
                                {#                            <button class="btn btn-sm btn-outline-primary" onclick="alert('Impressão indisponível no momento')"><i class="fa fa-print"></i> Imprimir</button>#}
                                <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteConfirmModal" onclick="assignToDelete('{{ service_order }}', '{% url "service:service-order-delete" service_order.pk %}')"><i class="fa fa-trash"></i> Deletar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "components/delete_modal.html" %}
{% endblock %}
{% block scripts %}
    <script src="{% static "js/delete_modal.js" %}"></script>

{% endblock %}