{% extends "layout/base.html" %}
{% block body %}
    <div id="nfseDocument">
        <div class="container border p-4">
            <h2>Nota Fiscal de Serviço Eletrônica</h2>
            <div class="bg-white border p-4">
                <div class="mt-2">
                    <p class="border-bottom"><b>Emissão:</b> {{ object.invoice_date|date:"d/m/Y" }}</p>
                </div>
                <div class="mt-2">
                    <h4>Dados do Prestador</h4>
                    <p class="border-bottom"><b>Razão social:</b> {{ object.company_name }}</p>
                    <p class="border-bottom"><b>CNPJ:</b> {{ object.company_document }}</p>
                    <p class="border-bottom"><b>Insc. Estadual:</b> {{ object.company_registration }}</p>
                </div>
                <div class="mt-5">
                    <h4>Dados do Tomador</h4>
                    <p class="border-bottom"><b>Nome:</b> {{ object.client_name }}</p>
                    <p class="border-bottom"><b>CPF/CNPJ:</b> {{ object.client_document }}</p>
                    <p class="border-bottom"><b>Endereço:</b> {{ object.client_address }}</p>
                </div>
                <div class="mt-5">
                    <h4>Serviço Prestado</h4>
                    <p><b>Descrição:</b> {{ object.service_description }}</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Item de Serviço</th>
                            <th class="text-right">Sub-Total R$</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoice_service_item in object.invoiceserviceitem_set.all %}
                            <tr>
                                <td>{{ invoice_service_item.description }}</td>
                                <td class="text-right">{{ invoice_service_item.cost|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Total R$</th>
                            <th class="text-right">{{ object.total|floatformat:2 }}</th>
                        </tr>
                        <tr>
                            <th>Forma de pagamento</th>
                            <th class="text-right">{{ object.payment_method }}</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}