{% extends "layout/base.html" %}
{% block style %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="card">
        <form method="POST" enctype="multipart/form-data" id="modelForm">
            <div class="card-header">
                {% block card_header %}{% endblock %}
            </div>
            <div class="card-body">
                {% block card_body %}
                    {% csrf_token %}
                    {{ form|crispy }}
                {% endblock card_body %}
            </div>
            <div class="card-footer">
                {% block card_footer %}
                    <button class="btn btn-success">Salvar <i class="fa fa-save"></i></button>
                {% endblock %}
            </div>
        </form>
        {% block out_card %}{% endblock %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let select = $('select');
            select.select2();
            select.addClass('d-flex')
        });
    </script>
{% endblock scripts %}